@import './partials/variables';

$navbar-light-brand-color: $primary-color;
$navbar-light-color: $black-color;
$dropdown-bg: $nav-color;

$font-family-base: 'Lato', sans-serif;
$headings-font-family: 'Playfair Display', serif;
$headings-color: $primary-color;

$body-bg: $body-bg-color;
$body-color: $txt-color;

$input-placeholder-color: $txt-color;
$input-bg: $white-bg;
$input-border-color: transparent;

$card-color: $txt-color;
$card-bg: $white-bg;

@import '~bootstrap/scss/bootstrap';

@import './partials/nav';
@import './partials/forms';
@import './partials/carousel';
@import './partials/accordion';
@import './partials/footer';
