.card-header {
  background: $white-color;
  border-bottom: 1px solid $primary-color;
}

.accord__button {
  text-decoration: none;
  color: $primary-color;
}

.card__color {
  color: $black-color;
}
