.card {
  @media (max-width: 540px) {
    width: 20rem !important;
  }
}

.card-title {
  color: $black-color;
  font-family: $font-family-base;
}

.card-text {
  font-family: $font-family-base;
  color: $txt-color;
  font-weight: 500;
}

.btn-card__button {
  background: linear-gradient(to right, $primary-color 90%, $txt-color 51%);
  color: $white-color;
}
