.nav {
  background: $nav-color !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
  @media (max-width: 720px) {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.nav__brand {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-style: italic;
}

.active {
  background-color: $white-color;
  color: $black-color;
  border-radius: 3px;
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}
